* {
    padding:0;
    margin:0;
}

:root, body{
    width:100%;
    height:100%;
}

.wrapper{
    height:500px;
    width:500px;
    position:absolute;
    left:calc(50% - 250px);
    top:calc(50% - 250px);
    cursor:pointer;
}

.pan{
    height:100%;
    width:100%;
}

.pan img{
    height:100%;
    width:100%;
}

.btn{
    height:120px;
    width:120px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto auto;
}

.btn img{
    height:100%;
    width:100%;
    margin-top:-10px;
}